*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* //dark mode */
#dark{
  background-color: black;

}
html{
  scroll-behavior: smooth;
}


@media(max-width:600px){
  .footer{
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 5px;
  }
}
#dark .footer{
  color: white;
}